# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
README.md
C/problem1
C/problem2
C/problem3
C/problem4
C/problem5
C/problem6
C/problem7
C/problem8
C/problem9
C/problem10
C/problem14
.vscode/settings.json
Python/utilityfunctions.py
Python/__pycache__/problem5.cpython-38.pyc
Python/__pycache__/problem21.cpython-38.pyc
README.md
Python/__pycache__/problem22.cpython-38.pyc
Python/__pycache__/problem34.cpython-38.pyc
Python/__pycache__/problem41.cpython-38.pyc
